.texts{
    white-space: nowrap;
    margin-left: 650px;
}

.text{
    font-size: 22px;
    white-space: normal;	
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.head{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}

.text .texts:first-child{
   margin-right: 4%;
}

.foot{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    font-weight: bold;
}

.signs{
    white-space: nowrap;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.sign{
    font-size: 22px;
    white-space: normal;	
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

.sign .sign:first-child{
   
}

img{
    width: 150px;
    height: 100px;
}

